.custom-dropdown {
  position: relative;
  width: 505px; /* Set your preferred width */
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1); /* Set the background color to gray */
  padding: 10px;
  /* border: 1px solid #0a0909; */
  border-bottom: 1px solid rgb(242, 238, 238);
  border-radius: 8px;
}
/* Walker.css */

/* This targets the SVG icon within the TextField and sets its color to white */
.MuiInputAdornment-positionEnd {
color: white;
}

.testtext {
size: 15px;
}
.success-animation {
  animation: success 1s ease-in-out;
}

/* Define the success animation */
@keyframes success {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}